.center {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.center-spinner {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.option {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  /* text-align: center; */
}

@media (min-width: 500px) {
  .option {
    width: 450px;
  }
}
