/* .realistic {
  background: url(../images/dashbaord-background.png);
}

.investigative {
  background: url(../images/s2.png);
}

.artistic {
  background: url(../images/bg2.jpg);
}

.social {
  background: url(../images/bg1.jpg);
}

.enterprising {
  background: url(../images/bg3.jpg);
}

.conventional {
  background: url(../images/bb.jpg);
} */
