/*-- services --*/
.mb-60 {
  margin-bottom: 60px;
}
.services-inner {
  border: 2px solid #3369e7;
  margin-left: 35px;
  transition: 0.3s;
  background: #fff;
}
.our-services-img {
  float: left;
  margin-left: -36px;
  margin-right: 22px;
  margin-top: 28px;
}
.our-services-img img {
  width: 68px;
}
.our-services-text {
  padding-right: 10px;
}
.our-services-text {
  overflow: hidden;
  padding: 28px 0 25px;
}
.our-services-text h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}
.position-image img {
  position: absolute;
  top: 16%;
  left: 0%;
  bottom: 0%;
  width: 20%;
  z-index: -1;
}
.our-services-text h4::before {
  background: #3369e7 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  width: 40px;
}
.our-services-wrapper:hover .services-inner {
  background: #fff none repeat scroll 0 0;
  border: 2px solid transparent;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
  margin-bottom: 0;
}
.services p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #666;
}
.services {
  position: relative;
  z-index: 2;
}
/*-- //services-- */
