* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: rgb(252, 252, 252);
}
/* Reusable Components */
.row {
  width: 1140px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

  /* Headings */
}
h1 {
  margin: 0;
  font-size: 250%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 10px;
}
.text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Button Components */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  background-color: #13d61d;
  color: #fff;
  margin-top: 15px;
  border: 1px solid #13d616;
  transition: background-color 0.2s;
}

.btn:hover,
.btn:active {
  background-color: #0ee018;
}

